:root {
  --first-color: #98ce8f;
  --second-color: #94d1ee;
  --third-color: #f08985;
  --forth-color: #ffdb10;
}

.pie-chart {
  &__chart {
      width: 100%;
      margin: 0;

      text-align: center;
  }

  &__figure {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      margin: 0;
  }

  &__legend-title {
      margin: 0 0 25px;
  }

  &__legend-content {
      margin: 0;
  }

  &__legend-row {
      display: flex;
      align-items: center;
      flex-direction: row;

      margin-bottom: 20px;

      &:last-child {
          margin-bottom: 0;
      }
  }

  &__legend-item-color {
      width: 12px;
      height: 12px;
      margin-right: 10px;

      border-radius: 50%;

      &_color_0 {
          background-color: var(--first-color);
      }

      &_color_1 {
          background-color: var(--second-color);
      }

      &_color_2 {
          background-color: var(--third-color);
      }

      &_color_3 {
          background-color: var(--forth-color);
      }

  }

  &__legend-item-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      min-width: 240px;
      margin: 0;
  }

  &__legend-num {
      margin-left: 10px;
  }

  &__piece {
      fill: none;
      stroke-width: 22px;

      &:nth-child(n+1) {
          stroke: var(--first-color);
      }

      &:nth-child(n+2) {
          stroke: var(--second-color);
      }

      &:nth-child(n+3) {
          stroke: var(--third-color);
      }

      &:nth-child(n+4) {
          stroke: var(--forth-color);
      }
  }
}
