.chartWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.chart {
  width: 50%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.legend {
  width: 50%;
  display: flex;
  align-items: center;
}

.legendTitle {
  margin: 0 0 20px;
  text-align: center;
  font-size: 1.3em;
}

.legendContent {
  width: 100%;
  margin: 0;
  padding: 0;
}

.legendRow {
  position: relative;
  display: flex;
  padding-left: 25px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 2px;
    left: 0;
  }

  &:last-child {
      margin-bottom: 0;
  }

  &:nth-child(1):before {
    background-color: var(--g);
  }

  &:nth-child(2):before {
    background-color: var(--p);
  }

  &:nth-child(3):before {
    background-color: var(--b);
  }

  &:nth-child(4):before {
    background-color: var(--y);
  }

  &:nth-child(5):before {
    background-color: var(--r);
  }

  &:nth-child(6):before {
    background-color: var(--v);
  }

  &:nth-child(7):before {
    background-color: var(--o);
  }
}

.legendNum {
  font-size: var(--font-size-s);
  margin-left: 10px;
  opacity: 0.5;
}

.piece {
  fill: none;
  stroke-width: 22px;

  &:nth-child(1) {
    stroke: var(--g);
  }

  &:nth-child(2) {
    stroke: var(--p);
  }

  &:nth-child(3) {
    stroke: var(--b);
  }

  &:nth-child(4) {
    stroke: var(--y);
  }

  &:nth-child(5) {
    stroke: var(--r);
  }

  &:nth-child(6) {
    stroke: var(--v);
  }

  &:nth-child(7) {
    stroke: var(--o);
  }
}
